<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="home :: header"></div>
<div>
    <h1 >User Name :<span th:text="${userInfo.username}" ></span></h1>
    <h1 > First Name : <span th:text="${userInfo.firstName}"></span></h1>
    <h1 >Last Name :<span th:text="${userInfo.lastName}"></span></h1>
    <h1 >Date : <span th:text="${userInfo.dateOfBirth}"></span></h1>
    <h1 > Bio : <span th:text="${userInfo.bio}"></span></h1>
</div>
<div th:if="${userInfo.firstName != currentName}">
    <button> follow</button>
</div>
<form th:action="${userInfo.id}" method="post" th:object="${postClass}">
    <label for="body"> Your post body : </label>
    <input  id="body" name="body" type="text">
    <label for="createdAt"> Posted at : </label>
    <input  id="createdAt"  name="createdAt" type="text">

    <input  type="submit" value="Add" >
</form>

<div th:each="post : ${addedPost}">

    <h3 th:text="${post.body}" > </h3>
    <h3 th:text="${post.createdAt}"> </h3>
</div>

</body>
</html>