<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="POST" action="/perform_login">
  <fieldset>
    <legend>Sign Up</legend>
    <label for="userName">User Name:</label>
    <input name="userName" id="userNAme" type="text" ><br><br>

    <label for="password">Password</label>
    <input name="password" id="password" type="password" ><br><br>

    <input type="submit" value="Sign in">

  </fieldset>

</form>
</body>
</html>